.stories {
    display: flex;
    flex-direction: row;
    overflow: unset;
}

.Story {
    background:linear-gradient(#c82d8e,#f99d4c);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 53px;
    width: 53px;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1vw 1vw 20px 1vw;
    transition: all 0.3s;
    font-size: 13px;
   
}
  
.Story img {
    width: 50px;
    height: 49px;
    border-radius: 50%;
    margin-bottom: 5px;
    cursor: pointer;
    border:2px solid white;

    
}
.nome-do-usuario {
    display: flex;
    align-items: center;
    margin:5px;
    padding: 2px;}
.nome-do-usuario span {
    font-weight: bold;
  
}