* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color:cornflowerblue;
    display: flex;
    flex-direction: row;
}
.stories{
background:#ccc;
border : 5px solid #efefef;
width:40vw;
height: 80px;


}


.postagens{
    background:;
width:40vw;
min-height: 80vh;
display: flex;
flex-direction: column;
}


.logo{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-top: 20px;

}



.Conteudolateral {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 239vh;
    background-color:gray;
    padding: 20px;
    border:3px solid black;
}

.menulateral{
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 20px;
  
}
.menulateral  li{
    margin-bottom: 10px;
    padding:10px;
    color:whitesmoke;
    margin-left: 10px;
    border:1px solid black;
}
.menulateral li:hover{
font-size:25px;
transition-duration:0.4s;
color:rgb(214,153,22);
border:1px solid rgb(255,255,255);
background-color:#281f1f1;
padding:10px;




}
.texto-do-menu{
    align-items: center;
    color:whitesmoke;
  margin-bottom: 10px;
  margin-left:15px;
 
}

.Post img{
    max-width: 40vw;
    min-width: 30vw;
}

.Post-nome {
    color: white;
}
.Post-comentario{
    color:white;
}