* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.App{
    background-color:white;
    display: flex;
    flex-direction: row;
}
.stories{
background: white;

width:38vw;
height: 70px;

margin: 31px;

}
.Conteudolateral img{
    cursor: pointer;
}
p,span{
    color:#262626;
}


.postagens{
    background:white;
width:44vw;
min-height: 80vh;
display: flex;
flex-direction: column;
position: relative;

height: auto; 

}


.logo{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-top: 20px;

}



.Conteudolateral {
    display: flex;
    flex-direction: column;
    width: 20vw;
   min-height:80vh;
    background-color:none;
    padding: 20px;
    border:3px solid whitesmoke;
}


.menulateral{
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 20px;
    
  
}
.menulateral  li{
    margin-bottom: 10px;
    padding:10px;
    color:whitesmoke;
    margin-left: 10px;
    border:1px solid black;
  
}
.menulateral  li:hover{
    font-size: 25px;
    background-color:lightsalmon;
    color:black;
    cursor: pointer;
    border-radius: 10px;
}
.texto-do-menu{
    align-items: center;
    color:black;
  margin-bottom: 10px;
  margin-left:15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Post img{
    max-width: 43vw;
    min-width: 2vw;
    border-radius: 14px;
    border:1px solid black;
}
.Post-cabeçalho {
        padding: 6px;
   margin:5px;


}
.Post-cabecalho {
display: flex;
align-items: center;
justify-content: space-between;
padding:10px 15px;


}

.Post-nome{
    display:inline-block;
  margin-block-start: 60px;
  font-size: 16px;
}


.Post-avatar img{
    width: 31px;
    height: 27px;
    border: 2px solid white;
    border-radius: 100%;
    margin:13px;
    margin-right: 9px;
    margin-bottom: -9px;
    margin-left: 26px;
    display:inline;
}


.Post-nome {
    color: white;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    margin-block-start: 18px;
}
.Post-comentario{
    color:white;
}
.Conteudoprincipal{
    width: 51vw;
}
p{
    text-align: center;
    margin: 0; /* Remove margens extras ao redor do nome */
    font-size: 16px;
    color:black; /* Cor do nome */
    padding: 3px;
    margin-bottom: 16px;
  
}
.Post-curtida{
    display: inline-table;
    align-items: center;
    margin: -4px;
    padding: 10px;
    font-size: 27px;
    text-align: -moz-right;
}



.Conteudoladodireito{
    display: grid;
grid-template-columns: 293px;


}
.Conteudoladodireito-foto img {
    width: 54px;
    height: 46px;
    border: 2px solid #000000;
    border-radius: 100%;
    margin:125px;
    margin-right: 9px;
    margin-bottom: -9px;
    margin-left: 22px;

}


  
 .IMG{
    background:linear-gradient(#c82d8e,#f99d4c);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 53px;
    width: 53px;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1vw 1vw 20px 1vw;
    transition: all 0.3s;
    font-size: 13px;


  }
  .Post-comentario{
display:inline-flex;

  }
  .nome-do-usuario{
    color:black;

  }


  .Post-rodape {
display: flex;
justify-content:space-between;
cursor: pointer;
font-size: 20px;
  }
  .Elementos{
display: flex;
gap:12px;

  }
  .elementosdois{
    display: flex;
    gap:12px;
  }
  .Post-mais{
    position: absolute;
    top: 44px; /* ajuste para a distância do topo */
    right: 10px; 
    cursor: pointer;;
  }
.Post-avatar{
    cursor: pointer;
}
.like{
    margin-top: 6px;
}
.like span{
    font-size: 15px;
    font-weight: 500;
}
.Post-comentario{
    margin:6px 0 3px;

}
.Post-comentario p span{
    font-weight: 500;
}
.horas{
font-size: 12px;
color: #6b6b6b;
margin:0;


}
.comment{
    border-top:1px solid #6b6b6b;
    padding-top: 8px;
    display:flex;
}
.fake-comment{
    display: flex;
}